.update{
    
    position: fixed;
    background: #00000050;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
      .wrapper{
                 
                  display: flex;
                  flex-direction: column; 
                  position: relative;
                  width: 40%;
                  
                  margin: 0 auto;
                  height: auto;
                  max-height: 70vh;
                  margin-top: calc(100vh - 85vh - 20px);
                  background: #fff;
                  border-radius: 4px;
                  padding: 20px;
                  border: 1px solid #999;
                  overflow: auto;
                  gap: 20px;
  
                  h1{
                      text-align: center;
                      padding-bottom: 3mm;
                  
                  }
                  input{
                    height: 35px;
                    margin-bottom: 8px;
                    border-radius: 5px;
                    border: 0.5px solid gray;
                    padding-left: 5mm;


                      
                      color: black;
                      
                      
                  }
                  .image{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    
                    label{
                        width: 35%;
                    }
                  

                  .file{
                    padding: 10px;
                    width: 65%;

                  }
                }

                  .checkboxStyle{
                    display: flex;
                    align-items: center;
                   
                    gap: 10px;
                    
                    input{
                        width: 20px;
                        margin-bottom: 0;
                        
                    }
                }
                  .err{
                 
                    color: white;
                    
                    background-color: #ff6666 ;
                   
                    padding: 10px 10px;
                    width: inherit;
                    border-radius: 5px;
                    text-align: center;
                    align-self: center;
                   
                    width: fit-content;
                   
                  
                }
                 
                  button{
                    background-color: #4ddbdb ;
                    border: none;
                    padding: 10px 40px;
                    font-size: 17px;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    cursor: pointer;
                      
                  }
                 
  
                  .icon{
                      position: absolute;
                      top: 10px;
                      right: 10px;
                      cursor: pointer;
                  }
                
                  
      }
  }
  .hide{
      display: none;
  }